name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore 
    - name: Build
      run: dotnet build --configuration Release --no-restore src/EtsyOAuth1Authentication/EtsyOAuth1Authentication.csproj
    - name: Publish EtsyOAuth1Authentication
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
          PROJECT_FILE_PATH: src/EtsyOAuth1Authentication/EtsyOAuth1Authentication.csproj
          NUGET_KEY: ${{secrets.NUGETAPI}}
